USE [master]
GO
/****** Object:  Database [QLTaiKhoan]    Script Date: 10/20/2017 20:47:33 ******/
CREATE DATABASE [QLTaiKhoan] ON  PRIMARY 
( NAME = N'QLTaiKhoan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLTaiKhoan.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLTaiKhoan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\QLTaiKhoan_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTaiKhoan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTaiKhoan]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/20/2017 20:47:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](11) NULL,
	[Diem] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [GioiTinh], [DiaChi], [SoDienThoai], [Diem]) VALUES (N'Admin', N'Admin', NULL, NULL, NULL, N'0')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [GioiTinh], [DiaChi], [SoDienThoai], [Diem]) VALUES (N'us1', N'us1', N'Nam', N'', N'', N'5170')
/****** Object:  StoredProcedure [dbo].[KiemTraTaiKhoanHopLe]    Script Date: 10/20/2017 20:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KiemTraTaiKhoanHopLe]
(
	@TenDangNhap nvarchar(50)
)
AS
	SELECT TenDangNhap
	FROM TaiKhoan
	WHERE TenDangNhap = @TenDangNhap
GO
/****** Object:  StoredProcedure [dbo].[DangNhap]    Script Date: 10/20/2017 20:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DangNhap]
(
	@TenDangNhap nvarchar(50),
	@MatKhau nvarchar(MAX)
)
AS
BEGIN
	SELECT *
	FROM QLTaiKhoan.dbo.TaiKhoan TK
	WHERE TK.TenDangNhap = @TenDangNhap AND
			TK.MatKhau = @MatKhau
END
GO
/****** Object:  StoredProcedure [dbo].[DangKy]    Script Date: 10/20/2017 20:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DangKy]
(
	@TenDangNhap nvarchar(50),
	@MatKhau nvarchar(MAX),
	@GioiTinh nvarchar(5),
	@DiaChi nvarchar(MAX),
	@SoDienThoai nvarchar(11),
	@Diem nvarchar(MAX) = N'0'
)
AS
BEGIN
	INSERT INTO [QLTaiKhoan].[dbo].[TaiKhoan]
           ([TenDangNhap]
           ,[MatKhau]
           ,[GioiTinh]
           ,[DiaChi]
           ,[SoDienThoai]
           ,[Diem])
     VALUES
           (@TenDangNhap
           ,@MatKhau
           ,@GioiTinh
           ,@DiaChi
           ,@SoDienThoai
           ,@Diem)
END
GO
/****** Object:  StoredProcedure [dbo].[CapNhatDiem]    Script Date: 10/20/2017 20:47:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CapNhatDiem]
(
	@TenTaiKhoan nvarchar(50),
	@DiemCapNhat nvarchar(MAX)
)
AS
BEGIN
	UPDATE [QLTaiKhoan].[dbo].[TaiKhoan]
		SET [Diem] = @DiemCapNhat
	WHERE TenDangNhap = @TenTaiKhoan
END
GO
